@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 3rem;
  color: #fff;
  background: url("../../assets/images/bg-intro-mobile.png") no-repeat center, #ff7a7a;
}

main {
  margin: 0 5%;
}

.header {
  text-align: center;
  margin-bottom: 3rem;
}
.header h1 {
  line-height: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.ad {
  background-color: #6055a5;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px -6px #3e3c49;
  margin-bottom: 1.5rem;
}
.ad p {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}
.ad p span {
  font-weight: 600;
}

form {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 10px 10px -6px #3e3c49;
  padding: 0 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}
form input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
}
form p {
  color: #b9b6d3;
}
form p span {
  color: #ff7a7a;
  font-weight: 600;
}
form input + div {
  color: #ff7a7a;
  text-align: right;
  font-size: 0.7rem;
}
form div + img:nth-of-type(1) {
  position: absolute;
  top: 7%;
  right: 9%;
}
form input + div:nth-of-type(1) {
  position: absolute;
  top: 17%;
  right: 4%;
}
form div + img:nth-of-type(2) {
  position: absolute;
  top: 24%;
  right: 9%;
}
form input + div:nth-of-type(2) {
  position: absolute;
  top: 33%;
  right: 4%;
}
form div + img:nth-of-type(3) {
  position: absolute;
  top: 40%;
  right: 9%;
}
form input + div:nth-of-type(3) {
  position: absolute;
  top: 50%;
  right: 4%;
}
form div + img:nth-of-type(4) {
  position: absolute;
  top: 57%;
  right: 9%;
}
form input + div:nth-of-type(4) {
  position: absolute;
  top: 67%;
  right: 4%;
}
form button {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #38cc8c;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: 1rem;
  letter-spacing: 0.1rem;
  border-radius: 5px;
  box-shadow: 0 7px 5px -6px #3e3c49;
  margin-bottom: 0.5rem;
}
form .form-agreement {
  text-align: center;
  font-size: 0.75rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

@media screen and (min-width: 800px) {
  body {
    background: url("../../assets/images/bg-intro-desktop.png") no-repeat center, #ff7a7a;
    margin: 0;
  }

  main {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: ". . . . . . . ." ". . . . a a a ." ". . . . f f f ." ". h h . f f f ." ". h h . f f f ." ". . . . f f f ." ". . . r r . . .";
  }

  .ad {
    grid-area: a;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    grid-area: f;
  }
  form div + img:nth-of-type(1) {
    position: absolute;
    top: 8%;
    right: 6%;
  }
  form input + div:nth-of-type(1) {
    position: absolute;
    top: 16%;
    right: 3%;
  }
  form div + img:nth-of-type(2) {
    position: absolute;
    top: 23%;
    right: 6%;
  }
  form input + div:nth-of-type(2) {
    position: absolute;
    top: 33%;
    right: 3%;
  }
  form div + img:nth-of-type(3) {
    position: absolute;
    top: 40%;
    right: 6%;
  }
  form input + div:nth-of-type(3) {
    position: absolute;
    top: 49%;
    right: 3%;
  }
  form div + img:nth-of-type(4) {
    position: absolute;
    top: 56%;
    right: 6%;
  }
  form input + div:nth-of-type(4) {
    position: absolute;
    top: 65%;
    right: 3%;
  }

  .header {
    grid-area: h;
    text-align: left;
    align-self: start;
  }
  .header h1 {
    font-weight: 700;
    font-size: 2.5rem;
  }

  footer {
    position: relative;
    grid-area: r;
    place-self: end;
  }
}

/*# sourceMappingURL=main.css.map */
